/* PRESSING THE FOOTER  */
html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.create-schema-form {
    max-width: 450px;
}

.btn-warning {
    margin-top:-100px;
    margin-left: 450px;

}

.alert-success {
    color: green;
    font-family: 'Rubik';
    font-size: 16px;
}

.alert-error {
    color: red;
    font-family: 'Rubik';
    font-size: 16px;
}

.grid-title {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

.schema-link {
    text-decoration: none;
    font-family: 'Rubik';
    cursor: pointer;
}

