/* PRESSING THE FOOTER  */
html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.create-schema-form {
    max-width: 450px;
}

.btn-warning {
    margin-top:-100px;
    margin-left: 450px;

}

.alert-success {
    color: green;
    font-family: 'Rubik';
    font-size: 16px;
}

.alert-error {
    color: red;
    font-family: 'Rubik';
    font-size: 16px;
}


.schema-link {
    text-decoration: none;
    font-family: 'Rubik';
    cursor: pointer;
}

.schema-title {
    background: #FCFCFC;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.schemas-content {
    background: #E5E5E5;
    border-radius: 20px 20px;
    padding: 20px;
    max-width: 500px;
}

.btn-warning {
    margin-top: 0px;
    margin-left: 00px;
}

th {
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

table {
    font-family: 'Rubik';
}

.field-select-form {
    margin-top: 10px;
    margin-bottom: 10px;
}