{% extends 'users_logic/layout.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'users_logic/css/main_page.css' %}">
{% endblock %}

{% block body %}
  <div class="main-content">
    <center><h1 class="display-5 fw-bold">Головна сторінка</h1></center>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Тут має бути якась крута реклама сайту,але я не придумав,можливо пізніше</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="#" class="btn btn-primary btn-lg px-4 gap-3">Аторизуватись</a>
          <a href="#" class="btn btn-outline-secondary btn-lg px-4">Сфомувати дані</a>
        </div>
      </div>
  </div>
{% endblock %}