{% extends 'users_logic/layout.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block css_additional %}
  <link rel="stylesheet" href="{% static 'data/css/create_schema.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if messages %}
          {% for message in messages %}
            {% if message.tags != 'error' %}
              <center><div class="alert-success" id="msg" role="alert">
                {{ message }}
              </div></center>
            {% else %}
              <center><div class="alert-error" id="danger-msg" role="alert">
                {{ message }}
              </div></center>
            {% endif %}
        {% endfor %}
        {% endif %}
        <h1>{{ schema.title }}</h1>
        {% if fields %}
            <div class="schema-fields">
                <table>
                    <caption>Поля схеми</caption>
                    <tr>
                        <th>Назва поля</th>
                        <th>Тип даних</th>
                        <th>Мінімальне значення</th>
                        <th>Максимальне значення</th>
                        <th>Видалити поле</th>
                    </tr>
                        {% for field in fields %}
                            <tr>
                                <td class="field-title">{{ field.name }}</td>
                                <td class="field-type">{{ field.field }}</td>
                                {% if field.range_min %}
                                    <td class="field-type">{{ field.range_min }}</td>
                                {% else %}
                                    <td class="field-type">Значення відсутнє</td>
                                {% endif %}
                                {% if field.range_max %}
                                    <td class="field-type">{{ field.range_max }}</td>
                                {% else %}
                                    <td class="field-type">Значення відсутнє</td>
                                {% endif %}
                                <td><a href="{% url 'delete_field' field.pk %}" class="btn btn-danger">x</a></td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <form method="post" class="field-select-form" style="max-width: 400px;">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-info">Підтвердити</button>
            </form>
        {% else %}
            <h5>Полів поки немає</h5>
        {% endif %}

        <a href="{% url 'delete_schema' schema.pk %}" class="btn btn-danger">Видалити схему</a>
        <a href="{% url 'add_field' schema.pk %}" class="btn btn-secondary">Додати поле</a>
        {% if fields %}
            <a href="{% url 'generate_csv' schema.pk %}" class="btn btn-success">Сформувати CSV</a>
        {% endif %}
        <!--<a href="#" class="btn btn-warning">Сформувати</a> -->
    </div>

{% endblock %}